body{
    color:#14fe17;
    background:#272b23;
    font-family: PipBoy;
}

body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 1px, transparent 1px, transparent 2px);
    opacity: .3;
    z-index:10000;
    pointer-events:none;
}

a.nav-link {
    color:#14fe17 !important;
}
.navbar.navbar-expand-sm {
   border-bottom: solid 2px; 
   margin: 0 10px;
   margin-bottom:1rem;
}


#mainNav .nav-link {
    font-size:2rem;
    padding-bottom:0px;
    line-height:22px;

}
/*
a.nav-link, a.nav-link:hover {
    margin-left: 1rem;
    margin-right: 1rem;
    border-color: none;
}*/

.nav-link, .nav-tabs,  a.nav-link, .nav-link:hover,.nav-tabs .nav-link.active {
    background-color: #272b23;
    border: none;
    border-radius:0;
    font-size:1.5rem;
}

.navbar::before {
    left: 0px;
}
.navbar::after{
    right:0px;
}

.navbar::before, .navbar::after{
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background-color: #14fe17;
    bottom: -6px;
}

img {
    display: block;
    width: auto;
    height: 20rem;
    margin: auto;
    position: relative;
    max-height:300px;
    margin-top:200px;
    filter: grayscale(1) sepia(100%) hue-rotate(50deg) saturate(7) brightness(1) contrast(2);
    left: 7rem;
}


@font-face {
    font-family: PipBoy;
    src: url("monofonto.ttf");
}


.navbar.nav {
    width:100%;
}

.row {
     text-align:center;
     width:100%;
     margin-bottom: 1rem;
 }


.navbar-nav,  .navbar-expand-lg, li.navbar-item.active, .nav-link {
    z-index: 50;
    position: relative;
}

.nav.nav-tabs > li:nth-child(2) > a{
    opacity:0.7;
}

.nav.nav-tabs > li:nth-child(3) > a{
    opacity:0.5;
}
.nav.nav-tabs > li:nth-child(4) > a{
    opacity:0.3;
}
.level-progress {
    width:50%;
    height:12px;
    border: 1px solid;
    display: inline-block;
}
.level-progress-indicator {
    width: 25%;
    background-color:#14fe17;
    height:10px;
}
.gpa .level-progress-indicator {
    width: 97.5%;
    background-color:#14fe17;
    height:10px;
}

.col-3, .col-6{
    background: rgba(16,255,0,0.15);
    margin: 4px 2px;
    left:2px;
    max-width:23%;
    padding:0.5rem;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 20px;
}


.row.footer{
    justify-content: center;
}

.center-image {
    position:absolute;
    position:relative;
    width:100%;
}

.stat-bar{
    width:60px;
    margin:auto;
}


.navbar-item.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    top: 18px;
    background: #272b23;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}

#mainNav {
    justify-content: right;
}

#mainNav .nav-link {
    margin: 0 15px;
}

#media.tab-pane.full{
    width:100%;
    max-width: 100%;
}
.tab-content li {
    margin-left: 142px;
    list-style: none;
    font-size: 1.25rem;
}

.tab-content .media-list li a {
    display: block;
    width:300px;
    padding: 5px 30px;
    border-radius: 2px;
    color:#14fe17;  
}


.tab-content .media-list li a:hover {
    text-decoration: none;
    background: #14fe17;  
    color:#272b23;
}

.media-list a.active::before{
    content: "";
    display: block;
    position:absolute;
    height: 10px;
    width:10px;
    background:#14fe17;
    right: 84%;
    margin-top:10px;
    
}

.tab-content .media-list a:hover::before {
    text-decoration: none;
    background:#272b23;
}



.tab-content{
    height: calc(100vh - 200px);
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 15px;
}

.podcasts{
    position: absolute;
    bottom: 270px;
    right:60px;
    color: #14fe17;  /* fix the colors to match video*/
    /*background: rgba(16,255,0,0.15);*/
    width:400px;
    padding: 5px 5px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}


.row-highlight .col-12 {
    background: rgba(16,255,0,0.15);
    margin-bottom: -10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.media-img {
    margin: 0 auto;
    margin-right: 700px;
    bottom:100px;
}

.nav-tabs .nav-link {
    border:none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


#mapPng {
    margin: 0 auto;
    top: 100px;
    margin-right: 413px;
    filter: grayscale(1) sepia(100%) hue-rotate(50deg) saturate(5) brightness(1) contrast(1.5);
}